<div class="py-5 pb-15 sm:pb-0">
  <div class="grid grid-cols-1 sm:grid-cols-[1fr_auto_1fr] items-center">

    <months-graphic class="flex justify-end m-1 min-h-35 max-h-full order-2 sm:order-1" [graphicData]="getGraphicData()"></months-graphic>

    <div class="stats flex justify-center shadow-md border border-base-200 bg-white mx-1 h-full order-1 sm:order-2">
      <div class="grid grid-cols-2">
        <div class="flex flex-row justify-center col-span-2 items-center">
          <span class="mr-5 text-black" [innerHTML]="iconsService.getSvgIcon('WALLET')"></span>
          <div>
            <div class="stat-title font-bold">Saldo disponible</div>
            <div class="stat-value text-black">{{balanceInfo().totalAvailable | currency:'MXN' : "symbol-narrow" : "1.2-2"}}</div>
            <!-- <div class="stat-desc">21% more than last month</div> -->
          </div>
        </div>

        <div class="flex flex-row justify-center items-end my-5 mx-5">
          <span class="text-green-400 mr-2" [innerHTML]="iconsService.getSvgIcon('CASH_IN')"></span>
          <div>
            <div class="stat-title font-bold">Ingresos</div>
            <div class="stat-value text-2xl">{{balanceInfo().totalIncome | currency:'MXN' : "symbol-narrow" : "1.2-2"}}
            </div>
          </div>
        </div>

        <div class="flex flex-row justify-center items-end my-5 mx-5">
          <span class="text-red-400 mr-2" [innerHTML]="iconsService.getSvgIcon('CASH_OUT')"></span>
          <div>
            <div class="stat-title font-bold">Gastos</div>
            <div class="stat-value text-2xl">{{balanceInfo().totalOutgoing | currency:'MXN' : "symbol-narrow" : "1.2-2"}}</div>
          </div>
        </div>
      </div>
    </div>

    <radial-chart class="flex justify-start m-1 min-h-35 max-h-full order-3" [totalIncome]="balanceInfo().totalIncome" [totalExpenses]="balanceInfo().totalOutgoing" />

  </div>

  <div class="flex justify-center mt-5 mx-1">
    <div class="join grid grid-cols-3  text-white">
      <button class="join-item btn btn-outline hover:text-cyan-500 bg-blue-950" (click)="onLoadMovementByPeriod(0)">
        Mes actual
      </button>
      <button class="join-item btn btn-outline hover:text-cyan-500 bg-blue-950" (click)="onLoadMovementByPeriod(1)">
        Mes anterior
      </button>
      <button class="join-item btn btn-outline hover:text-cyan-500 bg-blue-950" (click)="onLoadMovementByPeriod(2)">
        Mes previo al anterior
      </button>
    </div>
  </div>

  <section #transactionsTable>
    <transactions-table  [transactionsList]="transactionsByMonth()" [errorMessage]="transactionsResource.error()"
      [isEmpty]="!transactionsResource.value()" [isLoading]="transactionsResource.isLoading()" [monthOffset]="monthOffset()"
      (deleteMovement)="deleteMovement($event)"/>
  </section>

  <div class="fab mb-16 sm:mb-0">
    <div tabindex="0" role="button" class="btn btn-lg btn-circle bg-blue-950 text-white">
      <span [innerHTML]="iconsService.getSvgIcon('ADD')"></span>
    </div>

    <div><span class="bg-black/70 rounded-md text-white px-2">Registrar movimiento</span>
      <button class="btn btn-lg btn-circle" [routerLink]="['/register_transaction']">
        <span [innerHTML]="iconsService.getSvgIcon('TICKET')"></span>
      </button>
    </div>

    <div><span class="bg-black/70 rounded-md text-white px-2">Registrar cuenta/tarjeta</span>
      <button class="btn btn-lg btn-circle" [routerLink]="['/register_card']">
        <span [innerHTML]="iconsService.getSvgIcon('ADD_CARD')"></span>
      </button>
    </div>
    <!-- <div><span class="bg-black/70 rounded-md text-white px-2">Label D</span> <button class="btn btn-lg btn-circle">C</button></div> -->
  </div>
</div>
