<form [formGroup]="loginForm" class="px-5">
  <legend class="fieldset-legend text-cyan-500 text-sm">Correo electronico:</legend>
  <label class="input input-info">
    <span class="size-[1.2em] opacity-50" [innerHTML]="iconsService.getSvgIcon('EMAIL')"></span>
    <input type="email" placeholder="mail@site.com" id="email" formControlName="email"/>
  </label>

  <legend class="fieldset-legend text-cyan-500 text-sm">Contraseña:</legend>
  <label class="input input-info">
    <span class="size-[1.2em] opacity-50" [innerHTML]="iconsService.getSvgIcon('KEY')"></span>
    <input type="password" placeholder="Password" id="password" formControlName="password"/>
  </label>
  <button class="btn btn-soft btn-info text-black w-full mt-4" (click)="onSubmit()" [disabled]="!loginForm.valid">Ingresar</button>
  <legend class="fieldset-legend text-cyan-500 text-sm">
    <span> ¿No estás registrado?<button class="btn btn-link px-1">Regístrate</button></span>
  </legend>
</form>



