<div class="flex justify-center pb-20 sm:pb-5 px-1">
  <div class="w-full md:w-[80%] flex justify-center">
    <div class="container rounded-box shadow-md border-2 border-base-200 bg-white mt-5 overflow-y-auto">
      <h1 class="text-3xl font-bold mt-5 ml-5">{{this.cardData() ? 'Editar' : 'Registrar'}} Tarjeta</h1>
      <div class="divider"></div>
      <h1 class="text-xl font-bold mt-5 ml-5">Datos generales</h1>

      <form autocomplete="off" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
        <fieldset class="fieldset grid md:grid-cols-4 lg:grid-cols-6 mx-5">
          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Tipo de tarjeta</legend>
            <select #paymentType class="select w-full" formControlName="paymentType"
              (change)="onChangePaymenTypeOptions(paymentType.value)">
              <option disabled selected value="">Seleccione tipo</option>
              @for (option of formUtils.PaymentTypeOptions; track $index) {
              <option [value]="option.value" class="capitalize">{{option.label}}</option>
              }
            </select>
            <form-text-helper [form]="cardForm" fieldName="paymentType"></form-text-helper>
          </div>

          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Nombre de banco</legend>
            <input type="text" class="input w-full" placeholder="Ingrese nombre de banco" formControlName="bankName" />
            <form-text-helper [form]="cardForm" fieldName="bankName"></form-text-helper>
          </div>

          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Nombre de producto</legend>
            <input type="text" class="input w-full" placeholder="Ingrese nombre de producto" formControlName="productName" />
            <form-text-helper [form]="cardForm" fieldName="productName"></form-text-helper>
          </div>

          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Nombre del titular</legend>
            <input type="text" class="input w-full" placeholder="Ingrese nombre del titular" formControlName="titularName" />
            <form-text-helper [form]="cardForm" fieldName="titularName"></form-text-helper>
          </div>

          @if (cardForm.controls['paymentType'].value === "credit") {
          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Línea de crédito total</legend>
            <label class="input w-full">
              $ <input type="text" placeholder="Ingrese línea de crédito" formControlName="creditLine" mask="separator.2" thousandSeparator="," decimalMarker="." maxlength="14" />
            </label>
            <form-text-helper [form]="cardForm" fieldName="creditLine"></form-text-helper>
          </div>

          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Día de corte de la tarjeta</legend>
            <input type="number" class="input w-full" placeholder="Ingrese día de corte" min="1" max="31" formControlName="cutoffDay" />
            <form-text-helper [form]="cardForm" fieldName="cutoffDay"></form-text-helper>
          </div>

          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Días para pago de tarjeta (Periodo de gracia)</legend>
            <input type="number" class="input w-full" placeholder="Ingrese días para pago de tarjeta" min="1" max="31" formControlName="daysToPay" />
            <form-text-helper [form]="cardForm" fieldName="daysToPay"></form-text-helper>
          </div>
          }
          <div class="flex flex-col col-span-2 mr-3">
            <legend class="fieldset-legend">Color de tarjeta</legend>
            <select #paymentType class="select w-full" formControlName="color">
              <option disabled selected value="">Seleccione color</option>
              @for (color of utils.colors; track $index) {
              <option [value]="color" class="capitalize font-bold"><span class="status status-xl border" [style.background-color]="color">
              </span>{{color}}</option>
              }
            </select>
            <form-text-helper [form]="cardForm" fieldName="color"></form-text-helper>
          </div>
          <div class="hover-3d  mt-5 md:mt-0">
            <!-- content -->
            <div class="card aspect-[1.586/1] h-17 bg-black text-white rounded-lg text-shadow-md text-shadow-black brightness-100 saturate-75 bg-linear-to-b from-white/30 to-black/30" [style.background-color]="cardForm.controls['color'].value ?? 'white'">
              <div class="card-body p-0 pl-1 py-1">
                <div class="flex justify-between mb-0">
                  <div class="font-semibold text-xs"> {{cardForm.controls['bankName'].value ? cardForm.controls['bankName'].value : 'Banco'}}</div>
                </div>
                <div class="flex justify-between mb-0">
                  <div class="w-4 fixed inset-0 text-yellow-500 top-7 left-2"><span [innerHTML]="iconsService.getSvgIcon('CHIP')"></span></div>
                </div>
                <div class="h-7 w-7 ml-17">
                  <img [src]="utils.getSvgImage('MAT_ICON')" alt="icon" />
                </div>
              </div>
            </div>
          </div>

        </fieldset>
      </form>

      <div class="grid grid-flow-col justify-items-end my-5">
        <div>
          <button class="btn btn-soft mr-5" (click)="goBack()">Regresar</button>
          <button class="btn btn-secondary mr-5" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
