@if(showNavbar()){
  <div class="navbar flex justify-center bg-linear-to-b from-blue-900 to-blue-950 shadow-sm">
    <div class="container grid grid-cols-[1fr_auto_1fr] items-center">
      <a class="hidden sm:block justify-self-start" href="https://mat-angel.com">
        <img [src]="`${baseUrl}neon_mat_2025.png`" width="125" title="MAT Angel" draggable="false">
      </a>

      <label for="my-drawer-1" class="block sm:hidden text-white btn btn-ghost btn-xs justify-self-start">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z" />
        </svg> -->
      </label>

      <a [routerLink]="['/movements']" class="justify-self-center">
        <img [src]="`${baseUrl}smart-control/smartControl_color-logo.webp`" width="125" title="SmartControl logo" draggable="false">
      </a>
      <profile-info class="justify-self-end"/>
    </div>
  </div>

  <section class="hidden sm:block">
    <div class="navbar justify-center bg-blue-900 text-white min-h-7 h-7">
      <div class="container flex justify-start overflow-x-auto">
        @for (route of menuRoutes; track $index) {
        <div
          class="md:mr-10 btn btn-ghost min-h-7 h-7 font-semibold hover:bg-base-100/10 hover:text-cyan-500 hover:border-blue-900"
          [routerLink]="['/', route.path]" routerLinkActive="text-cyan-500">
          {{route.title}}
        </div>
        }
      </div>
    </div>
  </section>

  <!-- TODO: Deleted unused sidebar -->
  <div class="drawer">
    <input #sideBar id="my-drawer-1" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
      <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="menu bg-base-100 min-h-full w-80 p-4 rounded-r-xl">
        <div class="flex flex-row rounded-lg bg-linear-to-br from-gray-100 via-gray-300 to-gray-500 shadow items-center p-2 pl-3">
          <img class="h-12" [src]="`${baseUrl}Mat_neon-black_icon.webp`" title="MAT Angel" draggable="false">
          <span class="text-xl font-bold ml-4">mat-angel.com</span>
        </div>
        <span class="text-2xl font-bold my-3">Menú</span>
        <ul>
          @for (route of menuRoutes; track $index) {
            <li><a class="text-lg font-semibold" routerLinkActive="bg-base-300" [routerLink]="['/', route.path]" (click)="sideBar.checked = false">
              {{route.title}}
            </a></li>
          }
        </ul>
      </div>
    </div>
  </div>

  <section class="block sm:hidden">
    <div class="dock bg-linear-to-b from-blue-900 to-blue-950 text-white">
      @for (route of menuRoutes; track $index) {
      <button [routerLink]="['/', route.path]" routerLinkActive="text-cyan-400">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt"><polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></polyline><path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path><line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line></g></svg>
        <span class="dock-label">{{route.title}}</span>
      </button>
      }
    </div>
  </section>
}
