@if(showNavbar()){
  <div class="navbar flex justify-center bg-linear-to-b from-blue-900 to-blue-950 shadow-sm">
    <div class="container grid grid-cols-[1fr_auto_1fr] items-center">
      <a class="hidden sm:block justify-self-start" href="https://mat-angel.com">
        <img [src]="`${baseUrl}neon_mat_2025.png`" width="125" title="MAT Angel" draggable="false">
      </a>

      <label for="my-drawer-1" class="block sm:hidden text-white btn btn-ghost btn-xs justify-self-start">
        <span [innerHTML]="iconsService.getSvgIcon('MENU')"></span>
      </label>

      <a [routerLink]="['/movements']" class="justify-self-center">
        <img [src]="`${baseUrl}smart-control/smartControl_color-logo.webp`" width="125" title="SmartControl logo" draggable="false">
      </a>
      <profile-info class="justify-self-end"/>
    </div>
  </div>

  <section class="hidden sm:block">
    <div class="navbar justify-center bg-blue-900 text-white min-h-7 h-7">
      <div class="container flex justify-start overflow-x-auto">
        @for (route of menuRoutes; track $index) {
        <div
          class="md:mr-10 btn btn-ghost min-h-7 h-7 font-semibold hover:bg-base-100/10 hover:text-cyan-500 hover:border-blue-900"
          [routerLink]="['/', route.path]" routerLinkActive="text-cyan-500">
          {{route.title}}
        </div>
        }
      </div>
    </div>
  </section>

  <!-- TODO: Deleted unused sidebar -->
  <div class="drawer">
    <input #sideBar id="my-drawer-1" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
      <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="menu bg-base-100 min-h-full w-80 p-4 rounded-r-xl">
        <div class="flex flex-row rounded-lg bg-linear-to-br from-gray-100 via-gray-300 to-gray-500 shadow items-center p-2 pl-3">
          <img class="h-12" [src]="`${baseUrl}Mat_neon-black_icon.webp`" title="MAT Angel" draggable="false">
          <span class="text-xl font-bold ml-4">mat-angel.com</span>
        </div>
        <span class="text-2xl font-bold my-3">Menú</span>
        <ul>
          @for (route of menuRoutes; track $index) {
            <li><a class="text-lg font-semibold" routerLinkActive="bg-base-300" [routerLink]="['/', route.path]" (click)="sideBar.checked = false">
              {{route.title}}
            </a></li>
          }
        </ul>
      </div>
    </div>
  </div>

  <section class="block sm:hidden">
    <div class="dock bg-linear-to-b from-blue-900 to-blue-950 text-white">
      @for (route of menuRoutes; track $index) {
      <button [routerLink]="['/', route.path]" routerLinkActive="text-cyan-400">
        <span class="inline-flex text-cyan-500" [innerHTML]="iconsService.getSvgIcon('HOME')"></span>
        <span class="dock-label">{{route.title}}</span>
      </button>
      }
    </div>
  </section>
}
